<div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto" style="max-width: 500px">
        <h1 class="display-6 mb-5">الاجهزة المستخدمة فى الفحص</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6  wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
          <div class="team-item rounded">
            <img loading="lazy" class="img-fluid" src="../../assets/img/device1.jpg" alt="Ultrasonic Sensor">
            <div class="text-center py-5">
              <h5>Ultrasonic Sensor</h5>
              <span >فحص التهريبات الموجودة داخل الاحواش والحمامات حيث يقوم الجهاز بارسال موجات صوتية وعند وجود تسربات تظهر على الشاشة </span>

            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Ultrasonic Sensor</h5>
              <p >فحص التهريبات الموجودة داخل الاحواش حيث يقوم الجهاز بارسال موجات صوتية وعند وجود تسربات تظهر على الشاشة </p>
            </div>
          </div>
        </div>
     
        <div class="col-lg-4 col-md-6 wow   fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <div class="team-item rounded">
            <img loading="lazy" class="img-fluid" src="../../assets/img/device3.jpg" alt="Schmidt Hammer">
            <div class="text-center p-5">
              <h5>Schmidt Hammer</h5>
              <span>تستخدم فى معرفة قوة الخرسانه المستخدمة فى الاعمدة والاسقف والجسور الارضية</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Schmidt Hammer</h5>
              <p>تستخدم فى معرفة قوة الخرسانه المستخدمة فى الاعمدة والاسقف والجسور الارضية <br></p><br>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <div class="team-item rounded">
            <img loading="lazy" class="img-fluid" src="../../assets/img/device2.jpg" alt="Infrared Thermal Camera">
            <div class="text-center p-4">
              <h5>Infrared Thermal Camera</h5>
              <span>تستخدم فى فحص العزل الحرارى للجدران والشبابيك وكذلك فى فحص القواطع فى لوحات توزيع الكهرباءوفحص مخارج خطوط التغذية لشبكة المياه داخل الحمامات وفحص العزل الحرارى للاسطح</span>

            </div>
            <div class="team-text text-center bg-white p-4">
              <h5> Infrared Thermal Camera</h5>
              <p>تستخدم فى فحص العزل الحرارى للجدران والشبابيك وكذلك فى فحص القواطع فى لوحات توزيع الكهرباءوفحص مخارج خطوط التغذية لشبكة المياه داخل الحمامات وفحص العزل الحرارى للاسطح</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
