


 <div class="container-fluid bg-dark text-white-50 py-2 px-0 d-none d-lg-block">
  <div class="row gx-0 align-items-center">
    <div class="col-lg-7 px-5 text-start">
      <div class="h-100 d-inline-flex align-items-center me-4">
        
        <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">966597707376+</font></font></small>
        <small> <i class="bi bi-telephone-forward-fill me-2"></i></small>
      </div>

      <div class="h-100 d-inline-flex align-items-center me-4">
        <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">buildingstawoos77@gmail.com</font></font></small>
        <small><i class="bi bi-envelope-open me-2"></i></small>
      </div>
      <div class="h-100 d-inline-flex align-items-center me-4">
        <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">السبت - الخميس: 09 صباحًا - 09 مساءً</font></font></small>
        <small><i class="bi bi-clock-fill me-2"></i></small> 
      </div>
    </div>
    <div class="col-lg-5 px-5 text-end">
      <div class="h-100 d-inline-flex align-items-center">
        <a class="text-white-50 ms-4" href=""><i class="bi bi-facebook"></i></a>
        <a class="text-white-50 ms-4" href=""><i class="bi bi-twitter"></i></a>
        <a class="text-white-50 ms-4" href=""><i class="bi bi-linkedin"></i></a>
        <a class="text-white-50 ms-4" href=""><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>
</div> 


<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white  px-4 px-lg-5" style="top: 0px;"  >
  <a routerLink="/" class="navbar-brand d-flex ">
    <h3 class="m-0 cprimary ">
     مؤسسة الطاووس  <img class="img-fluid me-3" src="assets/img/icons/icon-02-primary.png" alt="">
    </h3>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" >
    <div class="navbar-nav mx-auto bg-light rounded pe-4 py-3 py-lg-0 me-auto">
      <a routerLink="/"  [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link " routerLinkActive="active">فحص الفلل</a>
      <a  routerLink="/water-leaks"   class="nav-item nav-link" routerLinkActive="active">كشف تسربات المياه</a>
      <a routerLink="/azel"  routerLinkActive="active" class="nav-item nav-link"> عوازل</a>
      <a  routerLink="/about"  routerLinkActive="active" class="nav-item nav-link">من نحن </a>
   
    </div>
  </div>
<div class="r-block-2">

    <div class="btn big-circle">
        <span class="ef icon_phone"></span>
        <div class="big-text">
            <a target="_blank"  href="tel:0597707376" > 0597707376 </a> 
        </div>
    </div>
</div>   
</nav>
