.jWcIXO {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    order: 2;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 40%) 2px 2px 6px;
    transition: all 0.5s ease 0s;
    position: relative;
    z-index: 200;
    display: block;
    border: 0px;
    background-color: rgb(77, 194, 71) !important;
  }
  .jWcIXO-call {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    order: 2;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    box-shadow: rgb(0 0 0 / 40%) 2px 2px 6px;
    transition: all 0.5s ease 0s;
    position: relative;
    z-index: 200;
    display: block;
    border: 0px;
    background-color: rgb(3, 231, 139) !important;
  }
  
  .customClass{
      place-items:"left";
  }
  .ms-call-button {
    bottom: 4.2em;
}
.ms-call-button .ms-call-icon {
  animation: signal 2s infinite ease-in-out;
}


.ms-call-button .ms-call-icon {
    animation: signal 2s infinite ease-in-out;
}
.ms-call-icon {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 44px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    -webkit-box-shadow: 1px 1px 6px 0px rgb(68 68 68 / 71%);
    -moz-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
    box-shadow: 1px 1px 6px 0px rgb(68 68 68 / 71%);
}