<div
  class="container-fluid p-0 mb-3 wow fadeIn mt-5"
  data-wow-delay="0.1s"
  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn"
>

  <div class="d-flex justify-content-center align-content-center pb-5">
    <img
      src="assets/img/slider/مقاولات_عامة_مؤسسة_الطاووس7.webp"
      loading="lazy"
      class="home-inspect"
      alt="   افضل شركة لعزل الاسطع عزل الخزنات عزل الجمامات"
    />
  </div>
          
  <div class="d-flex justify-content-center align-content-center m-3 text-center ">
    <h5>
          سواء أكان العزل كيميائى مائي وحرارى فهو يعتبر  بصفه عامة بمثابه درع واقى للمبانى من العوامل الطبيعيه كالتعريه وحركه المبنى الطبيعيه والعوامل الاصتناعيه التى تشكل تهديد للعمر الافتراضى للمبنى وتلفه . ويتحقق العزل بأستخدام مواد صناعيه وأساليب مختلفه نظراً لنوعيه شركة دنيا الحرف لعزل الاسطح و الخزانات بالشرقية والدمام والخبر والقطيف ، خبراء في جميع أنواع العزل الحراري و المائي بأحدث التقنيات و بأسعار مرضية
<br>
    نقدم خدماتنا فى المنطقة الشرقيه للمملكة العربية السعودية ومملكة البحرين

</h5>
  </div>
    
   
</div>

<div
  class="container-fluid p-0 mb-3 wow fadeIn"
  data-wow-delay="0.1s"
  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn"
>
<div class="text-center mx-auto" style="max-width: 500px">
  <h5 class="display-6 mb-5">     افضل الشركة فى عزل الاسطح </h5>
</div>
  <div class="d-flex justify-content-center align-content-center pb-5">
    <img
      src="assets/img/water-leaks/e10872e1-2ac6-4005-8a36-b1d8b625254d.jpg"
      loading="lazy"
      class="home-inspect"
      alt="  افضل شركة عزل  الاسطح فى المنطقة الشرقية"
    />
  </div>
          
  <div class=" d-flex justify-content-center align-content-center m-3 text-center ">
    <h5>
        عندما يتعرض سطح المبنى الى درجات حراره مرتفعه من ناحيه والامطار والمياه من ناحيه اخرى فيصبح سطح المبنى عرضه للتفتت مع مرور الزمن والهشاشه نظراً للعوامل الطبيعيه التى يمر بها     <br>
    
     
       حيث نقوم بعزل الاسطح بدقة عالية 
<br>

واعطاء ضمان لمدة تصل الى عشر سنوات

</h5>
  </div>

  <div
  class="container-fluid p-0 mb-3 wow fadeIn"
  data-wow-delay="0.1s"
  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn"
>
<div class="text-center mx-auto" style="max-width: 500px">
  <h5 class="display-6 mb-5">         عزل الحمامات والمطابخ </h5>
</div>
  <div class="d-flex justify-content-center align-content-center pb-5">
    <img
      src="assets/img/water-leaks/maxresdefault.jpg"
      loading="lazy"
      class="home-inspect"
      alt="  افضل شركة عزل  الاسطح فى المنطقة الشرقية"
    />
  </div>
          
  <div class=" d-flex justify-content-center align-content-center m-3 text-center ">
    <h5>
        من أهم الاساسيات التي يجب توفرها في منزلك هو عزل أرضية الحمام والمطبخ فهناك الكثير من الناس التي تعاني من مشاكل في عزل الحمامات، حيث إن عدم عزل الحمامات  يتنج عنه مشاكل سواء في ارتفاع الرطوبه في المنزل أو اختلاف درجات الحرارة في المطابخ والحمامات عن ارجاء المنزل  لذلك لابد من العزل المائي للحمامات والمطابخ وذلك للحفاظ على الجدران من الرطوبة ولمنع تسريب المياه ، تمر عملية عزل الحمامات بعدة مراحل حيث عزل الحمامات بمادة البيتومين أو بعزل الايبوكسى قبل البلاط وذلك بوضع طبقات من العازل لحماية الجدران والارضيات من الرطوبة ومن تسربات المياه وللحفاظ على المبنى او المنشأه.
        <br>
        تركيب وتنفيذ عوازل حمامات ومطابخ في الدمام والمنطقة الشرقية بأسعار منافسة


     <br>
           افضل الشركات فى العزل حيث نقوم بعزل الحمامات والمطابخ بدقة عالية    
<br>

واعطاء ضمان لمدة تصل الى عشر سنوات

</h5>
  </div>


  <div
  class="container-fluid p-0 mb-3 wow fadeIn"
  data-wow-delay="0.1s"
  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn"
>
<div class="text-center mx-auto" style="max-width: 500px">
  <h5 class="display-6 mb-5">         افضل شركات عزل الفوم   </h5>
</div>
  <div class="d-flex justify-content-center align-content-center pb-5">
    <img
      src="assets/img/water-leaks/585-1.jpg"
      loading="lazy"
      class="home-inspect"
      alt="  افضل شركة عزل الفوم الاسطح فى المنطقة الشرقية"
    />
  </div>
          
  <div class=" d-flex justify-content-center align-content-center m-3 text-center ">
    <h5>
        عند التواصل مع شركة عزل فوم بالدمام يقوم فريق العمل بمعاينة السطح والتعرف علي السمك المناسب له وكمية العزل التي يحتاجها.
يقوم فريق العمل بخلط المكونات اللازمة وفقاً للأسس العلمية لتكوين مادة الفوم.
        <br>
        يتم عزل الاسطح عن طريق رش مادة الفوم بسمك معين وفقاً لطلب العميل مع مراعاة الا يقل السمك عن 3 سم.


     <br>
     يتم رش مادة الاكريلك فوق طبقة الفوم وتقوم هذه المادة بحماية الفوم بشكل كامل.<br>

     تصلح مادة الفوم لعزل جميع الاسطح ومختلف انواع المباني من منازل ومصانع وشركات وغيرها.
</h5>
  </div>

<app-test></app-test>
