<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto" style="max-width: 500px">
      <h1 class="display-6 mb-5">خدماتنا</h1>
    </div>
    <div class="row g-4">
      <div
        class="col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="0.1s"
        style="
          visibility: visible;
          animation-delay: 0.1s;
          animation-name: fadeInUp;
        "
      >
        <div class="team-item rounded">
          <img
            loading="lazy"
            class="img-fluid"
            src="assets/img/water-leaks/water-leaks3.png"
            alt="عزل الخزانات ومعالجة التسريب"
          />
          <div class="text-center py-4">
            <h5>عزل الخزانات ومعالجة التسريب</h5>
            <span
              >متاح لدينا خدمات عزل وتنظيف خزانات المياه فنوفر افضل المواد العزل
              ذات عمر افتراضى طويل ،فخزانات المياه من اهم الاماكن بالمنزل ،ونوفر
              ايضا خدمات التنظيف وعزل بجداول مستمرة</span
            >
          </div>
          <div class="team-text text-center bg-white p-4">
            <h5>عزل الخزانات ومعالجة التسريب</h5>
            <span
              >متاح لدينا خدمات عزل وتنظيف خزانات المياه فنوفر افضل المواد العزل
              ذات عمر افتراضى طويل ،فخزانات المياه من اهم الاماكن بالمنزل ،ونوفر
              ايضا خدمات التنظيف وعزل بجداول مستمرة</span
            >
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="0.5s"
        style="
          visibility: visible;
          animation-delay: 0.5s;
          animation-name: fadeInUp;
        "
      >
        <div class="team-item rounded">
          <img
            loading="lazy"
            class="img-fluid"
            src="assets/img/water-leaks/water-leaks2.png"
            alt=" يعتبر عزل أسطح وواجهات المباني من الضرورات التى يجب توافرها فى كل
            مبنى ،ومن هنا توفر شركة سمو النجاح خدمات العزل بأعلى جودة علي يد
            نخبه من فنيين متخصصين."
          />
          <div class="text-center py-4">
            <h5>عزل الاسطح والحوائط</h5>
            <span
              >يعتبر عزل أسطح وواجهات المباني من الضرورات التى يجب توافرها فى كل
              مبنى ،ومن هنا توفر شركة سمو النجاح خدمات العزل بأعلى جودة علي يد
              نخبه من فنيين متخصصين.
            </span>
          </div>
          <div class="team-text text-center bg-white p-4">
            <h5>عزل الاسطح والحوائط</h5>
            <span
              >يعتبر عزل أسطح وواجهات المباني من الضرورات التى يجب توافرها فى كل
              مبنى ،ومن هنا توفر شركة سمو النجاح خدمات العزل بأعلى جودة علي يد
              نخبه من فنيين متخصصين.
            </span>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-12 wow fadeInUp"
        data-wow-delay="0.3s"
        style="
          visibility: visible;
          animation-delay: 0.3s;
          animation-name: fadeInUp;
        "
      >
        <div class="team-item rounded">
          <img
            loading="lazy"
            class="img-fluid"
            src="assets/img/water-leaks/water-leaks1.png"
            alt=" نحن في مؤسسة الطاووس نوفر خدمة كشف تسربات المياه بأحدث الأجهزة
            للكشف عن تسرب الموجود بجودة عالية نحل لك مشاكل ارتفاع فواتير
            المياه "
          />
          <div class="text-center p-4">
            <h5>كشف تسربات المياه</h5>
            <span
              >نحن في مؤسسة الطاووس نوفر خدمة كشف تسربات المياه بأحدث الأجهزة
              للكشف عن تسرب الموجود بجودة عالية نحل لك مشاكل ارتفاع فواتير
              المياه</span
            >
          </div>
          <div class="team-text text-center bg-white p-4">
            <h5>كشف تسربات المياه</h5>
            <span
              >نحن في مؤسسة الطاووس نوفر خدمة كشف تسربات المياه بأحدث الأجهزة
              للكشف عن تسرب الموجود بجودة عالية نحل لك مشاكل ارتفاع فواتير
              المياه</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
